.history .swiper.mySwiper .swiper-wrapper {
    justify-content: flex-end;
    gap: 30px;
}

.history .swiper-slide.swiper-slide-thumb-active {
    color: #28C79E !important;
}

.history .swiper.mySwiper .swiper-wrapper .swiper-slide {
    width: fit-content !important;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #8D9197;
}

.history .swiper.mySwiper2 .swiper-button-prev,
.history .swiper.mySwiper2 .swiper-button-next {
    top: 14%;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #E7E5EA;
}

.history .swiper.mySwiper2 .swiper-button-prev {
    left: unset !important;
    right: 79px !important;
    background-image: url(../../../assets/icons/left-arrow.png);
}

.history .swiper.mySwiper2 .swiper-button-next {
    right: 0;
    background-image: url(../../../assets/icons/right-arrow.png);
}

.history .swiper.mySwiper2 .swiper-button-prev::after,
.history .swiper.mySwiper2 .swiper-button-next::after {
    display: none;
}

@media(max-width: 767px) {
    .history .swiper.mySwiper .swiper-wrapper {
        justify-content: center;
        gap: 15px;
    }

    .history .swiper.mySwiper2 .swiper-button-prev,
    .history .swiper.mySwiper2 .swiper-button-next {
        display: none;
    }
    .history .swiper.mySwiper2 .swiper-button-prev {
        right: 65px !important;
    }
}
@media(max-width: 639px){

    .history .swiper.mySwiper2{
        margin-bottom: 0 !important;
    }
}
@media(max-width: 375px){
    .history .swiper.mySwiper .swiper-wrapper {
        gap: 3px;
    }
}