.intro .swiper-item__absolute {
    position: absolute;
}

.intro .swiper-pagination {
    width: fit-content !important;
    left: unset !important;
    right: 9vw !important;
    bottom: 4vw !important;
    display: flex;
    gap: 25px;
    justify-content: flex-end;
}

.intro .swiper-pagination-bullet {
    width: 30px !important;
    height: 30px !important;
    background: transparent !important;
    border: 1px solid white;
}

.intro .swiper-pagination-bullet-active {
    background-color: white !important;
}


@media(max-width: 1440px) {
    .intro .swiper-pagination-bullet {
        width: 25px !important;
        height: 25px !important;
    }

    .intro .swiper-pagination {
        gap: 20px;
    }
}

@media(max-width: 1080px) {
    .intro .swiper-pagination {
        gap: 10px;
    }

    .intro .swiper-pagination-bullet {
        width: 20px !important;
        height: 20px !important;
    }
}

@media(max-width: 639px) {
    .intro .swiper-pagination {
        bottom: unset !important;
        top: 72% !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
    }

    .intro .swiper-slide {
        margin-bottom: 135px;
    }

    .intro .swiper-item__absolute {
        bottom: -22%;
    }
}

@media(max-width: 600px) {
    .intro .swiper-pagination {
        top: 68% !important;
    }

    .intro .swiper-item__absolute {
        bottom: -24%;
    }
}

@media(max-width: 575px) {
    .intro .swiper-item__absolute {
        bottom: -27%;
    }

    .intro .swiper-pagination-bullet {
        width: 15px !important;
        height: 15px !important;
    }

    .intro .swiper-pagination {
        gap: 5px;
    }
}

@media(max-width: 570px) {
    .intro .swiper-item__absolute {
        bottom: -30%;
    }

    .intro .swiper-slide {
        margin-bottom: 116px;
    }
}

@media(max-width: 425px) {
    .intro .swiper-item__absolute {
        bottom: -34%;
    }
}

@media(max-width: 390px) {
    .intro .swiper-pagination {
        top: 66% !important;
    }
}

@media(max-width: 375px) {
    .intro .swiper-item__absolute {
        bottom: -36%;
    }
}

@media(max-width: 360px) {
    .intro .swiper-pagination {
        top: 64% !important;
    }

    .intro .swiper-item__absolute {
        bottom: -38%;
    }
}

@media(max-width: 320px) {
    .intro .swiper-pagination {
        top: 61% !important;
    }

    .intro .swiper-item__absolute {
        bottom: -40%;
    }
}